@import url('https://googleapis.com');

.playfair-display-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 332px;
    margin: 0px 30px auto;
    background-image: url("assets/login-header.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-area {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    margin: 0px 0px 15px 0px;
    font-size: 12px
}

.profile-image {
    align-self: center;
    margin-top: auto;
    padding: 10px
}

.footer {
    align-self: center;
    background-image: url("assets/login-footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 100px;
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins Light'
}

h1 {
  font-size: 45px;
  text-align: center;
  background: linear-gradient(to bottom, #98D2C0 5%, #F6F8D5 60%, #C6C9CB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: 700
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

input {
    height: 30px;
    border-radius: 7px;
    background: linear-gradient(79deg, #4F959D, #98D2C0, #F6F8D5);
    border: none;
    box-shadow: 10px 15px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins'
}

input[type='submit'] {
    width: 70px;
    align-self: center;
    height: 25px;
    background: #4F959D;
    border-radius: 10px
}

::placeholder {
    text-align: center;
    color: #182d30;
}

